{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>C{{ project_object.name }}</h1>
            <p>A{{ project_object.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if not details %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Assignee</td>
                            <td>Start date</td>
                            <td>Due date</td>
                            <td>Is completed</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in details.items.all %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.assignee }}</td>
                                <td>{{ item.start_date }}</td>
                                <td>{{ item.due_date }}</td>
                                <td>{{ item.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
